<!-- {{test.name}} -->

<div class="cart-container">
    <ul *ngIf="cart">
        <li class="cart-item" *ngFor="let item of cart " >  
            <div class="container-item">
                <img class="product-image" src="{{item.url}} " alt="">
            </div>
            <div class="cart-item-details">
                {{item.name}}<br>
                {{item.price}}<br>             
                <label for="quantity">Amount:</label>
                <input type="number"  name="quantity"  min="0"  [(ngModel)]="item.quantity"  (ngModelChange)="cal(item,cart)">
            </div>     
           
        </li>
        <!-- <li class="cart-item" *ngFor="let item of cart | keyvalue" >  
            <div class="container-item">
                <img class="product-image" src="{{item.key.url}} " alt="">
            </div>
            <div class="cart-item-details">
                {{item.key.name}}<br>
                {{item.key.price}}<br>             
                <label for="quantity">Amount:</label>
                <input type="number"  name="quantity"  min="0"  [(ngModel)]="item.value" (ngModelChange)="cal(item.key,item.value)">
            </div>     
           
        </li> -->
        <div> Total: ${{total}}</div><br>
       
    </ul>

    <div class="cart-panel ">
   
        <form #form="ngForm"  class="number-input " action="/confirmation" (ngSubmit)="onSubmit()" >     
        
            <div >
                <label for="fullname" >Full Name</label>
                <input type="text" id="fullname" name="fullname" required  minlength="3" [(ngModel)]="fullname" placeholder="(minimum 3 characters)" >
            </div>
            
            <div>
                <label for="address">Address</label>
                <input type="text" id="address" name="address" required  minlength="6" [(ngModel)]="address" placeholder="(minimum 6 characters)" >
            </div>
            
            <div >
                <label for="credit">Credit card number</label>
                <input type="text" id="credit" name = "credit"  required  minlength="16" maxlength="16" [(ngModel)]="credit" placeholder="(16-digit numbers)">
            </div>
            
            <div>
                <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Sign in</button>
            </div>
            
        </form>
    </div>
</div>